.testimonials {
  z-index: 9000;
  position: relative;
}

.testimonials:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30%;
}

h5 {
  text-align: center !important;
}

h3 {
  text-align: center;
}

#customers-testimonials .item-details {
  background-color: #ffffff;
  color: #fff;
  padding: 5px 10px;
  text-align: left;
}

#customers-testimonials .item-details h5 {
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 18px;
}

#customers-testimonials .item-details h5 span {
  color: red;
  float: right;
  padding-right: 20px;
}

#customers-testimonials .item-details p {
  font-size: 14px;
}

#customers-testimonials .item {
  text-align: center;
  background-color: white;
  height: 200px;
}

#customers-testimonials1 .item-details {
  background-color: #ffffff;
  color: #fff;
  padding: 5px 10px;
  text-align: left;
}

#customers-testimonials1 .item-details h5 {
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 18px;
}

#customers-testimonials1 .item-details h5 span {
  color: red;
  float: right;
  padding-right: 20px;
}

#customers-testimonials1 .item-details p {
  font-size: 14px;
}

#customers-testimonials1 .item {
  text-align: center;
  background-color: white;
  height: 200px;
}

#customers-testimonials2 .item-details {
  background-color: #ffffff;
  color: #fff;
  padding: 5px 10px;
  text-align: left;
}

#customers-testimonials2 .item-details h5 {
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 18px;
}

#customers-testimonials2 .item-details h5 span {
  color: red;
  float: right;
  padding-right: 20px;
}

#customers-testimonials2 .item-details p {
  font-size: 14px;
}

#customers-testimonials2 .item {
  text-align: center;
  background-color: white;
  height: 200px;
}

.page2 .item {
  text-align: center;
  background-color: white;
  border-radius: 20px;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  padding: 20px !important;
}

.owl-carousel .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  padding: 20px !important;
}

.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}

.owl-carousel {
  position: relative;
}

h4 {
  text-decoration: underline !important;
  font-size: 25px;
  color: #39B54A;
  padding-top: 20px;
}

#mobileh {
  background-color: transparent;
  border: 0;
}

#accessoriesh {
  background-color: transparent;
  border: 0;
}

#masokoh {
  background-color: transparent;
  border: 0;
}

#iphoneh {
  background-color: transparent;
  border: 0;
  min-height: -webkit-fit-content !important;
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
}

#samsungh {
  background-color: transparent;
  border: 0;
}

#huaweih {
  background-color: transparent;
  border: 0;
}

#oppoh {
  background-color: transparent;
  border: 0;
}

#oppoh2t {
  background-color: transparent;
  border: 0;
}

#oppoh3 {
  background-color: transparent;
  border: 0;
}

#huaweih2 {
  background-color: transparent;
  border: 0;
}

#iphoneh2 {
  background-color: transparent;
  border: 0;
}

#iphone2 {
  background-color: white;
  border: 0;
  border-radius: 5px;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
}

#samsung2 {
  background-color: white;
  border: 0;
  border-radius: 5px;
}

#huawei2 {
  background-color: white;
  border: 0;
  border-radius: 5px;
}

#oppo2 {
  background-color: white;
  border: 0;
  border-radius: 5px;
}

#mobileh2 {
  background-color: transparent;
  border: 0;
}

#accessoriesh2 {
  background-color: transparent;
  border: 0;
}

#masokoh2 {
  background-color: transparent;
  border: 0;
}

#iphoneh2t {
  background-color: transparent;
  border: 0;
}

#samsungh2t {
  background-color: transparent;
  border: 0;
}

#samsungh22t {
  background-color: transparent;
  border: 0;
}

#huaweih2t {
  background-color: transparent;
  border: 0;
}

#huaweih22t {
  background-color: transparent;
  border: 0;
}

#iphoneh22t {
  background-color: transparent;
  border: 0;
}

#iphone22 {
  background-color: white;
  border: 0;
  border-radius: 5px;
}

#samsung22 {
  background-color: white;
  border: 0;
  border-radius: 5px;
}

#huawei22 {
  background-color: white;
  border: 0;
  border-radius: 5px;
}

#oppo22 {
  background-color: white;
  border: 0;
  border-radius: 5px;
}

#mobileh3 {
  background-color: transparent;
  border: 0;
}

#accessoriesh3 {
  background-color: transparent;
  border: 0;
}

#masokoh3 {
  background-color: transparent;
  border: 0;
}

#iphoneh3 {
  background-color: transparent;
  border: 0;
}

#samsungh3 {
  background-color: transparent;
  border: 0;
}

#huaweih3 {
  background-color: transparent;
  border: 0;
}

#huaweih23 {
  background-color: transparent;
  border: 0;
}

#iphoneh23 {
  background-color: transparent;
  border: 0;
}

#iphone23 {
  background-color: white;
  border: 0;
  border-radius: 5px;
}

#samsung23 {
  background-color: white;
  border: 0;
  border-radius: 5px;
}

#huawei23 {
  background-color: white;
  border: 0;
  border-radius: 5px;
}

#oppo23 {
  background-color: white;
  border: 0;
  border-radius: 5px;
}

#ss {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#ss video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border: #39B54A 2px solid;
}

.col1 .btn-white {
  left: -175px;
}

.col2 .btn-white {
  left: 260px;
}

.col3 .btn-white {
  left: 685px;
}

.owl-carousel .owl-stage-outer {
  max-height: 250px !important;
}
/*# sourceMappingURL=featured.css.map */