.testimonials {
    z-index: 9000;
    // background-color: #f33f02;
    position: relative;
    // padding-top: 80px;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 30%;
        // background-color: rgb(255, 255, 255);
    }
}

h5 {
    text-align: center!important;
}

h3 {
    text-align: center;
}

#customers-testimonials {
    .item-details {
        background-color: #ffffff;
        color: #fff;
        padding: 5px 10px;
        text-align: left;
        h5 {
            margin: 0 0 15px;
            font-size: 18px;
            line-height: 18px;
            span {
                color: red;
                float: right;
                padding-right: 20px;
            }
        }
        p {
            font-size: 14px;
        }
    }
    .item {
        text-align: center;
        background-color: white;
        height: 200px;
        // border-radius: 10px;
        // padding: 20px;
        // margin-bottom: 80px;
    }
}

#customers-testimonials1 {
    .item-details {
        background-color: #ffffff;
        color: #fff;
        padding: 5px 10px;
        text-align: left;
        h5 {
            margin: 0 0 15px;
            font-size: 18px;
            line-height: 18px;
            span {
                color: red;
                float: right;
                padding-right: 20px;
            }
        }
        p {
            font-size: 14px;
        }
    }
    .item {
        text-align: center;
        background-color: white;
        height: 200px;
        // border-radius: 10px;
        // padding: 20px;
        // margin-bottom: 80px;
    }
}

#customers-testimonials2 {
    .item-details {
        background-color: #ffffff;
        color: #fff;
        padding: 5px 10px;
        text-align: left;
        h5 {
            margin: 0 0 15px;
            font-size: 18px;
            line-height: 18px;
            span {
                color: red;
                float: right;
                padding-right: 20px;
            }
        }
        p {
            font-size: 14px;
        }
    }
    .item {
        text-align: center;
        background-color: white;
        height: 200px;
        // border-radius:  10px;
        // padding: 20px;
        // margin-bottom: 80px;
    }
}

.page2 {
    .item {
        text-align: center;
        background-color: white;
        // height: 200px;
        border-radius: 20px;
        // padding: 20px;
        // margin-bottom: 80px;
    }
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    padding: 20px!important;
}

.owl-carousel .owl-nav [class*='owl-'] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    padding: 20px!important;
}

.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}

.owl-carousel {
    position: relative;
}

h4 {
    text-decoration: underline!important;
    font-size: 25px;
    // font-weight: bold;
    color: #39B54A;
    padding-top: 20px;
}

#zuri {
    background-color: transparent;
    border: 0;
}

#zuri2 {
    background-color: transparent;
    border: 0;
}

#zuri2 {
    background-color: transparent;
    border: 0;
}

// 1
#mobileh {
    background-color: transparent;
    border: 0;
}

#accessoriesh {
    background-color: transparent;
    border: 0;
}

#masokoh {
    background-color: transparent;
    border: 0;
}

#iphoneh {
    background-color: transparent;
    border: 0;
    min-height: fit-content!important;
}

#samsungh {
    background-color: transparent;
    border: 0;
    // border-radius: 10px;
}

#huaweih {
    background-color: transparent;
    border: 0;
}

#oppoh {
    background-color: transparent;
    border: 0;
}

#oppoh2t {
    background-color: transparent;
    border: 0;
}

#oppoh3 {
    background-color: transparent;
    border: 0;
}

#huaweih2 {
    background-color: transparent;
    border: 0;
}

#iphoneh2 {
    background-color: transparent;
    border: 0;
}

#iphone2 {
    background-color: white;
    border: 0;
    border-radius: 5px;
    min-height: max-content;
}

#samsung2 {
    background-color: white;
    border: 0;
    border-radius: 5px;
}

#huawei2 {
    background-color: white;
    border: 0;
    border-radius: 5px;
}

#oppo2 {
    background-color: white;
    border: 0;
    border-radius: 5px;
}

// 2
#mobileh2 {
    background-color: transparent;
    border: 0;
}

#accessoriesh2 {
    background-color: transparent;
    border: 0;
}

#masokoh2 {
    background-color: transparent;
    border: 0;
}

#iphoneh2t {
    background-color: transparent;
    border: 0;
}

#samsungh2t {
    background-color: transparent;
    border: 0;
}

#samsungh22t {
    background-color: transparent;
    border: 0;
}

#huaweih2t {
    background-color: transparent;
    border: 0;
}

#huaweih22t {
    background-color: transparent;
    border: 0;
}

#iphoneh22t {
    background-color: transparent;
    border: 0;
}

#iphone22 {
    background-color: white;
    border: 0;
    border-radius: 5px;
}

#samsung22 {
    background-color: white;
    border: 0;
    border-radius: 5px;
}

#huawei22 {
    background-color: white;
    border: 0;
    border-radius: 5px;
}

#oppo22 {
    background-color: white;
    border: 0;
    border-radius: 5px;
}

// 3
#mobileh3 {
    background-color: transparent;
    border: 0;
}

#accessoriesh3 {
    background-color: transparent;
    border: 0;
}

#masokoh3 {
    background-color: transparent;
    border: 0;
}

#iphoneh3 {
    background-color: transparent;
    border: 0;
}

#samsungh3 {
    background-color: transparent;
    border: 0;
}

#huaweih3 {
    background-color: transparent;
    border: 0;
}

#huaweih23 {
    background-color: transparent;
    border: 0;
}

#iphoneh23 {
    background-color: transparent;
    border: 0;
}

#iphone23 {
    background-color: white;
    border: 0;
    border-radius: 5px;
}

#samsung23 {
    background-color: white;
    border: 0;
    border-radius: 5px;
}

#huawei23 {
    background-color: white;
    border: 0;
    border-radius: 5px;
}

#oppo23 {
    background-color: white;
    border: 0;
    border-radius: 5px;
}

#ss {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    video {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        border: #39B54A 2px solid;
    }
}

.col1 {
    .btn-white {
        left: -135px;
    }
}

.col2 {
    .btn-white {
        left: 390px;
    }
}

.col3 {
    .btn-white {
        left: 1030px;
    }
}

.owl-carousel .owl-stage-outer {
    max-height: 250px!important;
}

#backdrop-back {
    fill: #71C7F2;
    opacity: 0.75;
}

#bubbleOne {
    width: 80%!important;
    position: absolute;
    bottom: 10px;
    // top: 70px;
    // z-index: -1;
    // left: 200px;
    cursor: pointer;
    animation: shake 15s;
    animation-iteration-count: infinite;
}

#bubbleOne2 {
    width: 80%!important;
    position: absolute;
    bottom: 5px;
    // top: 70px;
    // z-index: -1;
    // left: 200px;
    cursor: pointer;
}

#bubbleOne3 {
    width: 80%!important;
    position: absolute;
    bottom: 5px;
    // top: 70px;
    // z-index: -1;
    // left: 200px;
    cursor: pointer;
}

#bubbleOne p {
    font-family: Arial, sans-serif;
    font-size: 25px;
    line-height: 26px;
    text-align: center;
    position: absolute;
    top: 75px;
    width: 100%;
    color: #000;
}

// keyframes
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-2deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(2deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(2deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-2deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-2deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(2deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, 1px) rotate(-2deg);
    }
}