.testimonials {
    z-index: 9000;
    // background-color: #f33f02;
    position: relative;
    // padding-top: 80px;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 30%;
        // background-color: rgb(255, 255, 255);
    }
}

#customers-testimonials {
    .item-details {
        background-color: #ffffff;
        color: #fff;
        padding: 5px 10px;
        text-align: left;
        h5 {
            margin: 0 0 15px;
            font-size: 18px;
            line-height: 18px;
            span {
                color: red;
                float: right;
                padding-right: 20px;
            }
        }
        p {
            font-size: 14px;
        }
    }
    .item {
        text-align: center;
        background-color: white;
        height: 200px;
        border-radius: 10px;
        // padding: 20px;
        // margin-bottom: 80px;
    }
}

#customers-testimonials1 {
    .item-details {
        background-color: #ffffff;
        color: #fff;
        padding: 5px 10px;
        text-align: left;
        h5 {
            margin: 0 0 15px;
            font-size: 18px;
            line-height: 18px;
            span {
                color: red;
                float: right;
                padding-right: 20px;
            }
        }
        p {
            font-size: 14px;
        }
    }
    .item {
        text-align: center;
        background-color: white;
        height: 200px;
        border-radius: 10px;
        // padding: 20px;
        // margin-bottom: 80px;
    }
}

#customers-testimonials2 {
    .item-details {
        background-color: #ffffff;
        color: #fff;
        padding: 5px 10px;
        text-align: left;
        h5 {
            margin: 0 0 15px;
            font-size: 18px;
            line-height: 18px;
            span {
                color: red;
                float: right;
                padding-right: 20px;
            }
        }
        p {
            font-size: 14px;
        }
    }
    .item {
        text-align: center;
        background-color: white;
        height: 200px;
        border-radius: 10px;
        // padding: 20px;
        // margin-bottom: 80px;
    }
}

.page2 {
    .item {
        text-align: center;
        background-color: white;
        // height: 200px;
        border-radius: 20px;
        // padding: 20px;
        // margin-bottom: 80px;
    }
}

.owl-carousel .owl-nav [class*='owl-'] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}

.owl-carousel {
    position: relative;
}

// 1
#mobileh {
    background-color: transparent;
    border: 0;
}

#masokoh {
    background-color: transparent;
    border: 0;
}

#iphoneh {
    background-color: transparent;
    border: 0;
    min-height: fit-content!important;
}

#samsungh {
    background-color: transparent;
    border: 0;
    border-radius: 10px;
}

#huaweih {
    background-color: transparent;
    border: 0;
}

#huaweih2 {
    background-color: transparent;
    border: 0;
}

#iphoneh2 {
    background-color: transparent;
    border: 0;
}

#iphone2 {
    background-color: white;
    border: 0;
    border-radius: 5px;
    min-height: max-content;
}

#samsung2 {
    background-color: white;
    border: 0;
    border-radius: 5px;
}

#huawei2 {
    background-color: white;
    border: 0;
    border-radius: 5px;
}

// 2
#mobileh2 {
    background-color: transparent;
    border: 0;
}

#masokoh2 {
    background-color: transparent;
    border: 0;
}

#iphoneh2t {
    background-color: transparent;
    border: 0;
}

#samsungh2t {
    background-color: transparent;
    border: 0;
}

#samsungh22t {
    background-color: transparent;
    border: 0;
}

#huaweih2t {
    background-color: transparent;
    border: 0;
}

#huaweih22t {
    background-color: transparent;
    border: 0;
}

#iphoneh22t {
    background-color: transparent;
    border: 0;
}

#iphone22 {
    background-color: white;
    border: 0;
    border-radius: 5px;
}

#samsung22 {
    background-color: white;
    border: 0;
    border-radius: 5px;
}

#huawei22 {
    background-color: white;
    border: 0;
    border-radius: 5px;
}

// 3
#mobileh3 {
    background-color: transparent;
    border: 0;
}

#masokoh3 {
    background-color: transparent;
    border: 0;
}

#iphoneh3 {
    background-color: transparent;
    border: 0;
}

#samsungh3 {
    background-color: transparent;
    border: 0;
}

#huaweih3 {
    background-color: transparent;
    border: 0;
}

#huaweih23 {
    background-color: transparent;
    border: 0;
}

#iphoneh23 {
    background-color: transparent;
    border: 0;
}

#iphone23 {
    background-color: white;
    border: 0;
    border-radius: 5px;
}

#samsung23 {
    background-color: white;
    border: 0;
    border-radius: 5px;
}

#huawei23 {
    background-color: white;
    border: 0;
    border-radius: 5px;
}